.toaster {
    padding: 16px;
    border-radius: 12px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    color: black;
    width: 200px;
    bottom: 60px;
    right: 0px;
    left: 0px;
    margin: 0 auto;
    display: none;
    position: absolute;
    z-index: 45678;
}

@media only screen and (min-width: 600px) {
.toaster {
    right: 50px;
    left: auto;
    width: 236px;
}
}

   

.toaster > p {
    margin: 0px;
    font-size: 16px;
}

@media only screen and (min-width: 600px) {
   .toaster > p {
    margin: 0px;
    font-size: 20px;
} 
}

.lucide-message-circle-warning {
    color: red
}