.backgroundp{
    background-image: url(../image/78_3a53c38a2dc671fb4daf.jpg);
    position: relative;
    background-color: white;
    background-size: cover;
    background-position-y:8%;
    
}
@media (max-width: 767.98px) { 
.backgroundp{
    background-color: white;
    background-image: none;
}
}
.formsection{
    background-color: white;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 150px;
    box-shadow: 2px 2px 8px -1px rgb(154, 152, 152);

}
@media (max-width: 767.98px) { 
.formsection{
    box-shadow: none;
    background-color: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
}
}
.formsection2{
    background-color: white;
    padding-top: 8px;
    padding-bottom: 0px;
    padding-left: 60px;
    margin-top: 30px;
    
}
.termsandprivacy{
    font-size: 17px;
    color: white;
    text-align: right;
    line-height: 20px;
    
    
}
@media (max-width: 767.98px) { 
.termsandprivacy{
    font-size: 12px;
    color:  rgb(116, 116, 116);
    margin-top: 10px;
   text-align: left;
   line-height: 12px;
}
}
.mouseover{
    background-color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 30px;
    box-shadow: 2px 2px 8px -1px rgb(154, 152, 152);
}
@media (max-width: 767.98px){
    .mouseover{
    background-color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    border: solid 2px rgb(154, 152, 152) ;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: none;
    }
}
a{
    color:  rgb(0, 103, 184);
    
}
a:hover{
    color:rgb(82, 81, 81) ;
}
a strong{
    color: white;
    text-decoration: underline;
}
a strong:hover{
    color: white;
}
.mouseover:hover{
    background-color: rgb(227, 226, 226);
}
.mouseover1:hover{
    background-color: rgb(227, 226, 226);
    
}
.mouseover1{
    border: none;
    background-color: white;
    font-size: 20px;
    font-weight: 400;
    padding-right: 250px;
    padding-left: 20px;
}
