.backgroundp{
    background-image: url(../image/78_3a53c38a2dc671fb4daf.jpg);
    position: relative;
    background-color: white;
    background-size: cover;
    background-position-y:8%;
    height:fit-content;
}
@media (max-width: 767.98px) { 
.backgroundp{
    background-color: white;
    background-image: none;
    height: fit content;
}
}
.formsection{
    background-color: white;
    padding-top:45px;
    padding-bottom: 45px;
    padding-left: 45px;
    padding-right: 45px;
    box-sizing: border-box;
    box-shadow: 2px 2px 8px -1px rgb(154, 152, 152);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 120px;
    max-width: 45%;
}
@media (max-width: 767.98px) { 
.formsection{
    box-shadow: none;
    background-color: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 20px;
    margin-left: 20px;
    max-width:100%;
    margin-right:20px;
}
}
.formsection2{
    background-color: white;
    padding-top: 8px;
    padding-bottom: 0px;
    padding-left: 60px;
    margin-top: 30px;
    
}
.termsandprivacy{
    font-size: 14px;
    color: white;
    text-align: right;
    line-height: px;
    
    
}
@media (max-width: 767.98px) { 
.termsandprivacy{
    font-size: 12px;
    color:  rgb(116, 116, 116);
    margin-top: 10px;
   text-align: left;
   line-height: 12px;
}
}
.mouseover{
    background-color: white;
    margin-top: 30px;
    box-shadow: 2px 2px 8px -1px rgb(154, 152, 152);
    margin-bottom:180px;
    max-width: 45%;
    margin-left: 0px;
    margin-right: 0px;
}
@media (max-width: 767.98px){
    .mouseover{
    background-color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 10px;
    margin-top: 80px;
    border: solid 2px rgb(154, 152, 152) ;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: none;
    max-width: 100%;
    
    }
}
a{
    color:  rgb(0, 103, 184);
    
}
a:hover{
    color:rgba(82, 81, 81, 0.323) ;
}
a strong{
    color: white;
    text-decoration: underline;
}
a strong:hover{
    color: white;
}
.mouseover:hover{
    background-color: rgb(227, 226, 226);
}
.mouseover1:hover{
    background-color: rgb(227, 226, 226);
    
}
.mouseover1{
    border: none;
    background-color: white;
    font-size: 18px;
    font-weight: 400;
    padding-right: 200px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 10px;
    margin-right: 10px;
}
@media (max-width: 767.98px){
    .mouseover1{
        border: none;
    background-color: white;
    font-size: 18px;
    font-weight: 400;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
    }
}
.aspecial{
    color: black;
    text-decoration: none;
}
@media (max-width: 767.98px){
    .aspecial{
        color: blue;
    }
}
.aspecial:hover{
    color: black;
    text-decoration: none;
}

