@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;1,900&display=swap');
.coloring{
color:#6c757d;
font-family: 'Montserrat', sans-serif;
font-size:80% ;
font-style:initial;
font-weight: 100%;
}
.coloring1{
font-family: 'Montserrat', sans-serif;
color: black;
font-size:100%;
font-weight:400;
}
.imgposition{
width: 70%;
}
.line{
    height: 1.5px;
    width: 100%;
    background-color: black;
}
.invoice{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 900;
}
.invoice1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: crimson;
    letter-spacing: 1px;
    line-height: 0.6;
}
.toaster {
    padding: 16px;
    border-radius: 12px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    color: black;
    width: 200px;
    bottom: 60px;
    right: 0px;
    left: 0px;
    margin: 0 auto;
    display: none;
    position: absolute;
    z-index: 45678;
}

@media only screen and (min-width: 600px) {
.toaster {
    right: 50px;
    left: auto;
    width: 236px;
}
}

   

.toaster > p {
    margin: 0px;
    font-size: 16px;
}

@media only screen and (min-width: 600px) {
   .toaster > p {
    margin: 0px;
    font-size: 20px;
} 
}

.lucide-message-circle-warning {
    color: red
}