.backgroundp{
    background-image: url(../image/78_3a53c38a2dc671fb4daf.jpg);
    position: relative;
    background-color: white;
    background-size: cover;
    background-position-y:8%;
    height:fit-content;
}
@media (max-width: 767.98px) {
    .backgroundp{
background-color: white;
    background-image: none;
    }
    
}

.formsection{
    background-color: white;
    padding-top:45px;
    padding-bottom: 45px;
    padding-left: 45px;
    padding-right: 45px;
    box-sizing: border-box;
    box-shadow: 2px 2px 8px -1px rgb(154, 152, 152);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 120px;
    max-width: 45%;
    margin-bottom: 180px;
}
@media (max-width: 767.98px) {
    .formsection{
box-shadow: none;
    background-color: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    }
}

    